:root{
    /*colors*/
    --color-logo: #e63946;
    --color-footer: #1d3557;
    --secondary-text: gray;

    /*font-size*/
    --sm: 1.4rem;
    --md: 1.6rem;
    --lg: 1.8rem;
}

main .main_location--headerImg{
    height: 200px;
    background-color: rgb(49, 168, 69);
    margin: 20px 10px;
}

main .main_location--information{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: 20px 10px;
    justify-items: center;
}

main .location_information--map{
    max-width: 1024px;
}

main .location_information--map iframe{
    width: 100%;
}

main .location_information--directions{
    padding: 20px;
}

main .main_location--information h2{
    font-size: var(--lg);
    margin-bottom: 20px;
    color: var(--color-logo);
}
main .location_information--directions article{
    margin-bottom: 15px;
}

main .main_location--information h3{
    font-size: var(--md);
    margin-bottom: 10px;
    color: var(--color-logo);
}

main .main_location--information p{
    font-size: var(--sm);
}



@media(min-width:601px){
    .main_location--information{
        display: grid;
        grid-template-columns: 1fr !important;
        grid-template-areas: 'information' 'map' !important;
    }

    .location_information--directions{
        grid-area: information;
        align-self: center;
        text-align: center;
    }

    .location_information--map{
        grid-area: map;
        width: 90%;
    }

}

@media(min-width: 1024px){
    .main_location--information{
        display: grid !important;
        grid-template-areas: 'information map' !important;
        grid-template-columns: 400px 1fr !important;
        max-width: 1400px;
        margin: 0 auto;
    }

    .location_information--directions{
        grid-area: information;
    }

}