:root{
    /*colors*/
    --color-logo: #e63946;
    --color-footer: #1d3557;
    --secondary-text: gray;

    /*font-size*/
    --sm: 1.4rem;
    --md: 1.6rem;
    --lg: 1.8rem;
}


main .main_location--information{
    display: grid;
    text-align: center;
}

.main_location--headerImg picture img, iframe{
    width: 100%;
}


main .location_information--directions{
    padding: 20px;
}

main .main_location--information h2{
    font-size: var(--lg);
    margin-bottom: 20px;
    color: var(--color-logo);
}
main .location_information--directions article{
    margin-bottom: 15px;
}

main .main_location--information h3{
    font-size: var(--md);
    margin-bottom: 10px;
    color: var(--color-logo);
}

main .main_location--information p{
    font-size: var(--sm);
}



@media(min-width:600px){
    main .main_location--headerImg{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)) !important; 
        gap: 30px;
        margin: 20px
    
    }
}

@media(min-width:1024px){
    main .main_location--headerImg{
        align-items: center;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)) !important; 
    }

    img{
        height: 50%;
    }

}

@media(max-width:432px){
    main .main_location--headerImg{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 30px;
        margin: 20px
    
    }
}



