:root{
    /*colors*/
    --color-logo: #e63946;
    --color-logo-blue: #072271;
    --color-footer: #1d3557;
    --secondary-text: gray;
    --light-grey: #80808021;

    /*font-size*/
    --sm: 1.4rem;
    --md: 1.6rem;
    --lg: 1.8rem;
}


main .main-products{
    width: 100%;
    height: 200px;
    background-color: aqua;
}

main .products-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    padding: 20px;
    justify-content: center;
    gap: 50px;
    max-width: 1200px;
    margin: 30px auto;
}

main .products-list article{
    background-color: var(--light-grey);
    padding: 20px;
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    box-shadow: var(--color-logo-blue) 8px 5px 10px;
}

main .products-list article h2{
    font-size: var(--lg);
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    font-weight: 700;
    color: var(--color-logo-blue);
}

main .products-list article img{
    width: 100%;
    height: 280px;
    background-color: red;
    margin-bottom: 15px;
    border-radius: 10px;
}

main .products-list article a{
    font-size: var(--sm);
    color: blue;
}

@media(max-width: 600px){
    .products-list{
        width: 70%;
    }
}


@media(max-width: 600px){
    footer .footer_information{
        display: flex;
        place-content: center;

    }

    footer .footer_information--left{
        display: flex;
        margin:  0 auto;
    }

    footer .footer_information--right{
        display: none;
    }
}